.card5 {
    height: 415px;
    margin-top: auto;
    margin-bottom: auto;    
    width: 800px; 
    
    background-color: rgba(0, 0, 0, 0.5) !important;
  }
.titulo-pago{    
    margin-top: auto;
    margin-bottom: auto;
}
.texto-pago{
    color: white;
}
.card-body h5{
    color: white;
}
.video-pago{
    margin-left: auto;
    margin-right: auto;
}
.carousel-caption h5{
    margin-bottom: auto;
    color: black
}
.carousel-caption p{
    margin-bottom: auto;
    color: black
}
.boton-pago{
    margin-top: 70px;
    margin-right: 20px;
    
}