html,
body {
  background-image: url("../src/images/fondo-login.jpg");
  background-attachment: fixed;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  /* height: 100%; */
}
.cardA {
  position: absolute;
  top: 70px;
  right: 10px;
  margin-bottom: 10px;
  padding: 10px;
  background-color: black !important;
}
.cardA-title {
  font-weight: bold;
  color: #ffc312;
}
.Sub_btn {
  color: #ffc312;
  /* background-color: #ffc312; */
  /* width: 120px; */
  border-color: #ffc312;
  border-width: 1px;
  border-style: solid;
}

.Sub_btn:hover {
  color: #000;
  background-color: #ffc312;
}
