html,
body {
  background-image: url("../src/images/fondo-login.jpg");
  background-attachment: fixed;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  /* height: 100%; */
}
.cardA {
  position: absolute;
  top: 70px;
  right: 15px;
  margin-bottom: 15px;
  padding: 15px;
  background-color: black !important;
}
.cardA-title {
  font-weight: bold;
  color: #ffc312;
}
.cardB {
  position: relative;
  top: 70px;
  right: 20px;
  margin-bottom: 20px;
  padding: 20px;
  background-color: black !important;
  border-color: #ffc312;
  border-width: 1px;
  border-style: solid;
}
.cardB-title {
  font-size: small;
  position: absolute;
  top: 5px;
  padding: 5px;
  background-position: center;
  font-weight: bold;
  color: #ffc312;
}
.Sub_btn {
  font-size: small;
  top: 4px;
  color: #ffc312;
  /* background-color: #ffc312; */
  /* width: 120px; */
  border-color: #ffc312;
  border-width: 1px;
  border-style: solid;
}

.Sub_btn:hover {
  
  color: #000;
  background-color: #ffc312;
}
