  
@import url('https://fonts.googleapis.com/css?family=Numans');

body {
    margin: 0;
    padding: 0;
    background-image: url(../Login/fondo-login.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    font-family:'Numans', sans-serif;
}  

.box-login{
    width: 320px;
    height: 420px;
    background-color: white;
    border-radius: 3px;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    padding:70px 30px;
}

.box-login h1{
    margin: 0;
    padding: 0 0 20px;
    text-align: center;
    font-size: 30px;
}

.box-login label {
    margin: 0;
    padding: 0;
    font-weight: bold    
}

.box-login input {
    width: 100%;
    margin-bottom: 20px;
    margin-top: 10px;
}

.Usuario {
    border: 1px solid;
    border-radius: 5px;
    border-color:gray;
    background-color: transparent;
    outline: none;
    height: 30px;
    font-size: 14px;    
}

.Contraseña {
    border: 1px solid;
    border-radius: 5px;
    border-color:gray;
    background-color: transparent;
    outline: none;
    height: 30px;
    font-size: 14px;    
}

.Enviar{
    border: 1px solid;
    border-radius:20px;
    background-color:gray;
    outline: none;
    font-size: 18px;    
}

.box-login a {
    text-decoration: none;
    font-size: 10px;
    line-height: 20px;
    color: black;    
}

.box-login a:hover {
    color:blue;
}

