<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Iniciar sesión</title>
    <link rel="stylesheet" href="../styles/bootstrap.min.css">
    <link rel="stylesheet" href="../styles/login.css">
</head>
<body class="vh-100">
    <div class="d-flex justify-content-center align-items-center h-100">
        <form class="card col-4 p-5">
            <div>
                <p class="fs-2 fw-bold text-center">Iniciar sesión</p>
            </div>
            <div class="mb-4">
                <label for="email" class="fw-bold">Correo: </label>
                <input type="text" name="email" class="form-control" id="email" placeholder="pepito@gmail.com">
            </div>
            <div class="mb-4">
                <label for="doc" class="fw-bold">Contraseña: </label>
                <input type="password" name="password" class="form-control" id="password" placeholder="*********">
            </div>
            <div class="text-center">
                <input type="submit" value="ingresar" class="btn btn-primary">
            </div>            
        </form>
    </div>    
</body>
</html>