<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Perfil</title>
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
    <link rel="stylesheet" href="../styles/bootstrap.min.css">
    <link rel="stylesheet" href="../styles/profile.css">
    <script src="../prueba.js"></script>
</head>
<body>
    <div class="container">
        <form class="card p-4 col-8 offset-2 mt-5" id="update-user-form">
            <h2 class="my-4 text-center fw-bold">Actualización de datos</h2>
            <div class="row my-4">
                <div class="col">
                    <label for="doc" class="form-label fw-bold">Nombre: </label>
                    <input type="text" class="form-control" id="name">
                </div>
                <div class="col">
                    <label for="doc" class="form-label fw-bold">Apellidos: </label>
                    <input type="text" class="form-control" id="lastname">
                </div>
            </div>
            <div class="row my-4">
                <div class="col">
                    <label for="doc" class="form-label fw-bold">Correo: </label>
                    <input type="text" class="form-control" id="email">
                </div>
                <div class="col">
                    <label for="doc" class="form-label fw-bold">Contraseña: </label>
                    <input type="password" class="form-control" id="password">
                </div>
            </div>
            <div class="row my-4">
                <div class="text-center">
                    <input type="submit" class="btn btn-primary" value="actualizar datos">
                </div>                
            </div>
        </form>
    </div>
    <div class="container">
        <div class="col-8 offset-2 mt-5 pt-3">
            <h2 class="fw-bold text-center">Historial de reservaciones</h2>
            <div class="card result p-3 my-3">
                <div class="row" id="result-1">
                    <div class="col-4 d-flex align-items-center">
                        <img src="https://picsum.photos/175" alt="foto resultado 1" class="img-fluid rounded">
                    </div>
                    <div class="col-8">
                        <h5 class="my-3">Hotel Tequendama (<span>Bogotá</span>)</h5>
                        <h5 class="my-3">Penthouse</h5>
                        <h5 class="my-3">$ 150.000 / noche</h5>
                        <h5 class="my-3"><i class="fas fa-calendar-alt"></i> 20/09/2021 - <i class="fas fa-calendar-alt"></i> 25/09/21</h5>
                        <h5 class="my-3">5 <i class="fas fa-star"></i>&nbsp;&nbsp;&nbsp;&nbsp;3 <i class="fas fa-user"></i>&nbsp;&nbsp;&nbsp;<i class="fas fa-wine-bottle"></i> minibar</h5>
                    </div>                        
                </div>
            </div>
            <div class="card result p-3 my-3">
                <div class="row" id="result-1">
                    <div class="col-4 d-flex align-items-center">
                        <img src="https://picsum.photos/175" alt="foto resultado 1" class="img-fluid rounded">
                    </div>
                    <div class="col-8">
                        <h5 class="my-3">Hotel Tequendama (<span>Bogotá</span>)</h5>
                        <h5 class="my-3">Penthouse</h5>
                        <h5 class="my-3">$ 150.000 / noche</h5>
                        <h5 class="my-3"><i class="fas fa-calendar-alt"></i> 20/09/2021 - <i class="fas fa-calendar-alt"></i> 25/09/21</h5>
                        <h5 class="my-3">5 <i class="fas fa-star"></i>&nbsp;&nbsp;&nbsp;&nbsp;3 <i class="fas fa-user"></i>&nbsp;&nbsp;&nbsp;<i class="fas fa-wine-bottle"></i> minibar</h5>
                    </div>                        
                </div>
            </div>
            <div class="card result p-3 my-3">
                <div class="row" id="result-1">
                    <div class="col-4 d-flex align-items-center">
                        <img src="https://picsum.photos/175" alt="foto resultado 1" class="img-fluid rounded">
                    </div>
                    <div class="col-8">
                        <h5 class="my-3">Hotel Tequendama (<span>Bogotá</span>)</h5>
                        <h5 class="my-3">Penthouse</h5>
                        <h5 class="my-3">$ 150.000 / noche</h5>
                        <h5 class="my-3"><i class="fas fa-calendar-alt"></i> 20/09/2021 - <i class="fas fa-calendar-alt"></i> 25/09/21</h5>
                        <h5 class="my-3">5 <i class="fas fa-star"></i>&nbsp;&nbsp;&nbsp;&nbsp;3 <i class="fas fa-user"></i>&nbsp;&nbsp;&nbsp;<i class="fas fa-wine-bottle"></i> minibar</h5>
                    </div>                        
                </div>
            </div>
        </div>
    </div>
</body>
</html>