<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
</head>
<body>
    <form>
        <img src="https://picsum.photos/200" alt="foto resultado 1">
        <h4>Nombre del hotel</h4>
        <h4>Estrellas del hotel</h4>
        <h4>Telefono del hotel</h4>
        <h4>Dirección Hotel</h4>
        <h5>Nombre de la ciudad</h5>
        <h5>Tipo de habitación</h5>
        <h5>capacidad</h5>
        <h5>minibar</h5>
        <h5>precio</h5>
        <h5>piso - numero</h5>

        <label for="start_date">Fecha de inicio: </label><input type="date" name="start_date" id="start_date"><br>
        <label for="end_date">Fecha de fin: </label><input type="date" name="end_date" id="end_date"><br><br>

        <textarea name="comments" id="comments" cols="30" rows="10" placeholder="comentarios"></textarea><br><br>

        <input type="submit" value="reservar">
    </form>
</body>
</html>
