*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
.navbar{
	background-color: rgba(0, 0, 0, 0.856) !important;
	margin: 0px !important;
	padding: 0px 10px !important;
	
}
.nav-item :hover{
	background-color: #ffc312 !important;
	color: black !important; 
	
}
.nav-link{
	color: #ffffff !important;
}

.navbar-brand{
	color: #ffc312 !important;
}

body{
	background: #E0E4E5;
	font-family: 'Open Sans', sans-serif;
}
.espaciado{
	margin-top: 150px;
}
.form-check-input{
	width: 25px;
	height: 25px;

}
.form-check-label{
	margin-left: 10px;
	margin-top: 5px;
}

.wrap{
	max-width: 1100px;
	width: 90%;
	margin: auto;
}

.wrap > h1{
	color: #ecf0f5;
	font-weight: 400;
	display: flex;
	flex-direction: column;
	
	text-align: center;
	margin: 15px 0px;
}

.wrap > h1:after{
	content: '';
	width: 100%;
	height: 1px;
	background: #C7C7C7;
	margin: 20px 0;
}


.products-list{
	width: 100%;
	display: flex;
	flex-wrap: wrap;
}


.products-list .product-item img{
	width: 100%;
}
.card{
	margin-bottom: 10px;
	padding: 10px;		
}
.card-title{
	font-weight: bold;
	
}
.alin{
	float: right;
	margin-right: 20px;
}

.imgperfil{
	width: 100%;
	border-radius: 50%;
	width: 40px;
	height: 40px;
}
.displey-none{
	margin-right: 60px;
	text-decoration: none;
	list-style:none
	
}
.imglike{
	width: 100%;
	border-radius: 50%;
	width: 40px;
	height: 40px;
}


	

