body{
/* background-image: url('https://cdn.forbes.co/2020/02/sofitel-legend-santa-clara-outdoor-pool.jpg'); */
background-image: url(''https://s1.1zoom.me/big0/833/Mauritius_Tropics_Resorts_Coast_ShangriLa_Pools_539775_1365x1024.jpg');
/* background-image: url('https://s1.1zoom.me/big0/833/Mauritius_Tropics_Resorts_Coast_ShangriLa_Pools_539775_1365x1024.jpg'); */

}
/* image{
    background-repeat: no-repeat;
    width: 100%;
    height: 100;
    background-attachment: fixed;
    background-size: cover;
} */
